In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Groupby apply on large (relational) data set

## Attentions all writen functions assume a data frame where the date is sorted!!

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

# Test data

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [4]:
test_data.head()

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15791 2020-03-21    no       US    24508.0
16003 2020-03-22    no  Germany    24873.0
16043 2020-03-22    no       US    33152.0
16268 2020-03-23    no  Germany    29056.0

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-09    no   256433.0
US      2020-09-09    no  6361265.0

In [6]:

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
   

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-09-09   256433.0
      US      2020-09-09  6361265.0

In [8]:
def rolling_reg(df_input,col='confirmed'):
    
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [9]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15737            NaN
                16003            NaN
                16268       7.417994
                16534       7.142035
                16801       8.012983
                17067       6.954407
                17332       6.501919
                17599       7.390371
                17864      10.136671
                18131      13.541893
                18396      13.781393
                18663      13.140681
                18929      12.037271
                19195      12.735506
                19461      16.052694
                19726      21.372453
                19992      27.427355
                20258      27.511936
                20524      21.792179
                20791      21.495848
                21056      26.565108
                21322      36.198404
                21589      43.982990
                21855      49.423444
                22121      74.043747
                22387      56.424411
                22652      42.468318
                22920      41.525988
                23185      49.898063
                23449      75.684007
                23716      78.000000
                23982      94.526338
                24247      82.985208
                24515      62.294061
                24780      70.294338
                25046      91.536840
                25313     112.903164
                25579     140.472457
                25845     148.285092
                26111     115.116625
                26377     104.285868
                26643     128.349094
                26908     167.535921
                27175     207.816845
                27441     279.484107
                27707     247.616282
                27973     166.275622
                28239     138.835878
                28505     139.648255
                28771     179.986624
                29036     265.319391
                29303     274.642705
                29569     267.092879
                29834     227.702584
                30102     266.129559
                30367     307.670485
                30633     274.967556
                30898     309.480047
                31165     441.111389
                31431     251.099125
                31697     184.808186
                31963     287.086082
                32228     289.519806
                32495     372.170639
                32760     582.550162
                33027     587.311618
                33293     414.470948
                33559     392.008658
                33825     364.738956
                34091     260.678112
                34357     368.114804
                34622     750.711749
                34889     905.667490
                35155     783.060412
                35421     697.778621
                35687     621.103991
                35953     459.540888
                36219     378.218132
                36485     448.849072
                36750     563.792615
                37017     492.385362
                37283     902.561743
                37548    2017.005405
                37814     530.718750
                38081     649.518519
                38346    1283.130137
                38613     903.561446
                38877     511.763851
                39144     408.198120
                39410     241.394249
                39675     223.685349
                39943     446.100821
                40208     392.080164
                40474     348.336369
                40741     317.615894
                41007     348.817770
                41273     433.013094
                41539     332.061803
                41805     356.862925
                42071     591.767631
                42336     666.886986
                42603     538.071724
                42869     459.344301
                43135     411.541317
                43401     442.723036
                43667     475.320451
                43933     530.732167
                44199     456.339492
                44464     482.869919
                44731     624.783202
                44997     603.893617
                45262     628.785677
                45530     563.128060
                45795     680.249858
                46061     848.985138
                46326     745.567970
                46593     564.813146
                46859     404.289738
                47125     348.851371
                47391     413.880464
                47656     586.672464
                47923     451.231739
                48188     413.969450
                48455     428.543989
                48721     351.016037
                48987     304.271220
                49253     294.336435
                49519     394.998723
                49785     495.649081
                50050     398.388462
                50317     289.802417
                50583     228.223195
                50849     226.112610
                51115     286.140136
                51381     513.701989
                51647     382.360458
                51913     263.747512
                52178     212.804529
                52445     193.571536
                52711     206.544407
                52976     231.809013
                53244     397.061661
                53509     271.110696
                53775     194.001184
                54040     186.844463
                54307     161.177186
                54573     151.644156
                54839     202.555505
                55105     369.126096
                55371     203.795961
                55637     145.588821
                55903     151.813262
                56168     144.833544
                56435     139.237035
                56701     181.181264
                56966     319.173606
                57232     207.718414
                57499     152.843207
                57764     164.523315
                58030     160.009817
                58297     154.408858
                58563     213.643110
                58829     411.798699
                59095     247.734960
                59361     180.595818
                59627     188.636259
                59892     175.166018
                60159     173.290158
                60423     225.482717
                60691     347.436678
                60955     196.368640
                61223     156.975534
                61488     181.692436
       US       15791            NaN
                16043            NaN
                16323       3.498776
                16574       4.170293
                16841       4.924326
                17106       4.605309
                17373       4.656402
                17638       5.336576
                17905       6.228945
                18171       6.986338
                18436       6.908798
                18703       7.322692
                18969       7.727527
                19236       7.863741
                19500       8.509948
                19781      10.092081
                20032      11.758896
                20313      12.168137
                20564      12.751442
                20830      12.963331
                21096      13.596369
                21362      15.640111
                21629      18.009116
                21895      20.631256
                22160      22.247854
                22427      21.707413
                22692      21.151373
                22960      20.922412
                23225      22.969844
                23489      26.750825
                23771      28.208839
                24023      29.696372
                24287      30.180436
                24555      26.941144
                24821      24.825600
                25086      26.203105
                25353      30.987791
                25619      38.552326
                25884      42.198851
                26151      39.055345
                26417      36.527008
                26683      33.678042
                26948      34.887174
                27215      41.430446
                27481      48.294855
                27746      50.778225
                28013      48.891730
                28279      46.460248
                28545      45.810909
                28810      48.689510
                29076      57.688653
                29342      69.033107
                29609      65.942632
                29874      63.722135
                30142      57.574047
                30407      53.780625
                30673      57.497298
                30938      66.754140
                31205      73.286423
                31471      71.744801
                31736      69.435527
                32003      63.450348
                32268      64.009509
                32535      69.962594
                32800      76.467742
                33067      82.940492
                33333      88.200032
                33598      90.889959
                33865      83.166946
                34131      73.155519
                34397      71.689586
                34662      80.148813
                34929      96.512671
                35195      95.040993
                35460      89.935215
                35727      89.946323
                35993      80.728889
                36259      79.367601
                36524      95.147270
                36790     110.639314
                37056     110.405848
                37323     101.785720
                37588      91.506248
                37854      83.862856
                38121      80.535367
                38387      91.345585
                38653     106.084051
                38917      97.561367
                39199      86.811830
                39451      81.098786
                39715      73.953774
                39983      69.221131
                40249      76.137888
                40514      80.145069
                40781      70.411225
                41047      66.951119
                41312      63.738424
                41579      56.951720
                41845      56.086949
                42111      60.970129
                42376      63.432294
                42643      59.903301
                42909      54.441257
                43174      50.905167
                43441      50.878532
                43707      56.312680
                43973      59.366881
                44238      60.936367
                44504      56.034821
                44770      50.507067
                45037      50.164921
                45302      47.611543
                45570      49.745703
                45835      54.452996
                46101      55.907166
                46366      53.175990
                46633      50.933902
                46899      48.445682
                47164      48.036905
                47431      53.899199
                47696      59.114995
                47963      61.220091
                48228      60.908067
                48495      57.608109
                48761      56.865910
                49026      56.744461
                49293      58.651279
                49559      68.787751
                49825      76.044250
                50090      70.222168
                50357      63.783405
                50623      63.772056
                50888      66.526569
                51155      72.612628
                51421      87.059011
                51687     100.431094
                51952      91.685726
                52218      86.443196
                52484      85.797301
                52751      82.858790
                53016      86.422707
                53284      96.884837
                53549     104.606172
                53815     105.735503
                54080      99.879424
                54347      96.442858
                54613      90.696852
                54878      94.607140
                55145     119.145185
                55411     139.992250
                55677     135.744110
                55942     119.866789
                56208     122.243661
                56474     120.358792
                56741     120.595325
                57006     143.068603
                57272     157.391062
                57539     150.913832
                57806     140.483170
                58070     129.279778
                58337     127.392986
                58603     126.767479
                58868     144.433394
                59135     172.565218
                59401     155.889350
                59667     146.464688
                59947     160.482444
                60199     141.473918
                60463     130.557982
                60732     164.558062
                60995     225.472064
                61264     248.848116
                61530     208.750622
Name: confirmed, dtype: float64

In [10]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [11]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [12]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [13]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

# Filtering the data with groupby apply

In [14]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) 
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, 
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [15]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [16]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

# Filtered doubling rate

In [17]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
61707    no  Zimbabwe  60476              72.397299
61708    no  Zimbabwe  60712              50.370316
61709    no  Zimbabwe  61008              54.005632
61710    no  Zimbabwe  61244              49.168665
61711    no  Zimbabwe  61711              42.255331

In [18]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
61707,61707,2020-09-09,no,Barbados,180.0,359.333333,180.2,299.333333
61708,61708,2020-09-09,no,Belarus,73402.0,394.682839,73398.0,400.740558
61709,61709,2020-09-09,no,Belgium,89691.0,193.493131,89659.8,197.978695
61710,61710,2020-09-09,no,Albania,10704.0,70.834452,10704.4,70.267643
61711,61711,2020-09-09,no,Zimbabwe,7429.0,112.544529,7504.8,42.255331

In [19]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [20]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
60423,60423,2020-09-05,no,Germany,251058.0,225.482717,251107.0,209.504918
60691,60691,2020-09-06,no,Germany,251728.0,347.436678,252330.4,203.616986
60955,60955,2020-09-07,no,Germany,253626.0,196.368640,253560.4,205.700334
61223,61223,2020-09-08,no,Germany,254957.0,156.975534,254958.3,193.018278
61488,61488,2020-09-09,no,Germany,256433.0,181.692436,256356.2,182.386651

In [22]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)